:root {
  --green: #73d750;
}

.formBox {
  padding: 1%;
  display: flex;
  justify-content: center;
}

.formBox img {
  border-style: solid;
  border-width: 2px;

  border-color: var(--green);
}

.postPlaceholder {
  border-radius: 5px;
}

.signupPlaceholder {
  border-radius: 50%;
  height: 230px;
  width: 230px;
}

.headLine {
  margin-top: 5%;
  text-align: center;
}
.headLineUser {
  margin-top: 1%;
  text-align: center;
}

.checkBox input {
  padding: 0%;
  width: 20px;
  display: inline-block;
}
.checkBox label {
  padding: 0%;
  display: inline-block;
}
