/* ---------- root variables ---------- */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:wght@200&display=swap");

:root {
  --green: #73d750;
  --light-green: rgb(245, 255, 227);
  --light-grey: #efefef;
  --golden: #ffd700;
  --text-color-light: rgb(72, 72, 72);
  --text-color-dark: #333;
  --white: #fff;
}

body {
  color: var(--text-color-dark);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Dancing Script",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Nunito",
    "Dancing Script";
}

h1 {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  font-family: "Dancing Script";
  text-shadow: 1px 0px 1px var(--green);
}
textarea {
  width: 86.5%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid var(--green);
  border-radius: 4px;
}
h2 {
  font-size: 1.8em;
  font-family: "Dancing Script";

  margin: 0.3em 0;
}
h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  margin: 0.3em 0;
}

h5 {
  font-weight: 100;
  color: var(--text-color-light);
  margin: 0;
  margin-bottom: 15px;
}

a {
  color: var(--green);
}

hr {
  border-width: 0.5px;
  border-color: var(--green);
  width: 60%;
}

.page,
.post-page {
  /* background-color: var(--light-green); */
  min-height: calc(100vh - 58px - 2em);
  padding: 3.5em 3em 1em 3em;
}

.post-page {
  display: grid;
  justify-content: center;
}

/* ---------- Header nav styling ---------- */
nav {
  display: inline-grid;
  grid-template-columns: 58% auto auto auto auto;
  column-gap: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--green);
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f3ffee;
}

.logo {
  display: flex;
  margin-left: 0%;
}
.logo img {
  display: flex;
  margin-left: -13%;
  padding-right: 9px;
  /* border-right: 1px solid var(--green); */
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--text-color-dark);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
nav a:hover {
  color: var(--green);
}

/* Add a color to the active/current link */
nav a.active {
  border-bottom: 0.2em solid var(--green);
  color: var(--green);
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.grid-container h2,
h3,
h5,
p {
  text-align: center;
}

/* Responsive for smaller screens */
@media (max-width: 996px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* ------------------- post styling -------------------- */
.grid-container > article {
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
  border: 0.5px solid var(--green);
}

.grid-container > article ::first-letter {
  text-transform: uppercase;
}

.grid-container > article:hover {
  box-shadow: 4px 4px 8px 0 var(--text-color-dark);
}

.grid-container > article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-img {
  border-radius: 4px 4px 0 0;
}

.creator {
  position: absolute;
  margin-left: 20px;
  color: var(--green);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-align: center;
  text-shadow: 0px 0px 5px #3f3f3f;
}

.post-description {
  padding: 0 1em 1em 1em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.formBtns {
  display: flex;
  justify-content: center;
}
.formBtns #submitBtn {
  width: 100%;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--text-color-dark);
  background-color: var(--golden);
  text-transform: uppercase;
  padding: 0.6em;
  margin: 0.3em 0.3em 0 0.3em;
}
.singlePostForm {
  background-color: #ffffff;
  border: 1.5px solid #73d750;
  border-radius: 4px;
  padding: 0px;
}

.edit {
  background-color: var(--light-grey);
}

/* ------------------ Login Page -------------------- */
.login-section {
  background-image: url(./assets/IMG_0043.JPG);
  background-size: cover;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media (max-width: 666px) {
  .login-section {
    grid-template-columns: 1fr;
    padding: 20px 0;
    height: fit-content;
  }
  .logo-image {
    margin-bottom: 20px;
  }
}

.logo-image {
  width: fit-content;
  padding: 1em 4em;
  background-color: #fff;
  border-radius: 4px;
}

.aboutContent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*  font-family: "Nunito"; */
}

.aboutContent img {
  width: 30%;
  padding: 4%;
}

.aboutText {
  width: 40%;
  padding: 6%;
}

@media (max-width: 666px) {
  .aboutContent {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .aboutContent img {
    width: 65%;
  }
  .aboutText {
    width: 65%;
    padding: 6%;
  }
}

/* ---------- Login form styling ---------- */
form {
  display: grid;
  justify-content: center;
  padding-bottom: 2em;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.8);
  min-width: 400px;
  max-width: 380px;
  text-align: left;
  border-radius: 4px;
  animation: fadeIn 0.5s;
}

.login-btn {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--text-color-dark);
  background-color: var(--golden);
  text-transform: uppercase;
  padding: 0.6em;
  font-size: 1em;
  margin: 1em auto 0;
}

label {
  text-align: left;
}

input {
  width: 350px;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  background: var(--white);
  border: solid 2px var(--green);
  border-radius: 4px;
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

form .file-input {
  display: none;
}

article .avatar img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* -------------- Create and Update Forms --------------- */
.formBox {
  padding: 1%;
  display: flex;
  justify-content: center;
}

.formBox img {
  border-style: solid;
  border-width: 2px;
  border-color: var(--green);
}

.postPlaceholder {
  border-radius: 5px;
}

.signupPlaceholder {
  border-radius: 50%;
  height: 230px;
  width: 230px;
}

.headLine {
  margin-top: 5%;
  text-align: center;
}
.headLineUser {
  margin-top: 1%;
  text-align: center;
}

.checkBox input {
  padding: 0%;
  width: 20px;
  display: inline-block;
}
.checkBox label {
  padding: 0%;
  display: inline-block;
}

/* --------------- footer and social media styling ------------ */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73d750;
  height: 60px;
}

.SoMe {
  margin: 0 0.5em;
}
